<plugin name='pluginator' version='0.1.1' grailsVersion='1.2.0 &gt; *'>
  <author>Sergey Bondarenko</author>
  <authorEmail>enterit@gmail.com</authorEmail>
  <title>This plugin adds ability to hook into application's runtime configuration like if it is a plugin by itself.</title>
  <description>\
Plaginator allows to write the following configuration hooks in application:
doWithWebDescriptor, doWithSpring, doWithDynamicMethods, doWithApplicationContext, onChange, onConfigChange

For instance, with doWithSpring you can adjust your web-xml if you need precise control over web-xml generation.
Just add dependency on this plugin at the last line in your application.properties.
</description>
  <documentation>http://grails.org/plugin/pluginator</documentation>
  <resources />
  <dependencies>
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
    </resolvers>
  </dependencies>
  <behavior />
</plugin>